
// Home page Hero
.slider-height {
    min-height: 900px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$lg}{
        min-height: 680px;
    }
    @media #{$md}{
        min-height: 600px;
    }
    @media #{$sm}{
        min-height: 600px;
    }
    @media #{$xs}{
        min-height:640px;
    }
}

.slider-height.tight {
    min-height: 300px;
    @media #{$lg}{
        min-height: 300px;
    }
    @media #{$md}{
        min-height: 300px;
    }
    @media #{$sm}{
        min-height: 300px;
    }
    @media #{$xs}{
        min-height: 300px;
    }
}


// Home Page Heor
.slider-area{
    background-image: url(../img/hero/h1_hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    .hero__caption{
        @media #{$sm}{
        //    padding-top: 100px;
            margin-top: -40px;
        }
        @media #{$xs}{
        //    padding-top: 100px;
            margin-top: -79px;
        }
        text-align: center;
        p{
            color: #fff;
            font-size: 14px;
            @media #{$xs}{
                font-size: 11px;
            }
        }
        h1{
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 14px;
            color:#fff;
            line-height: 1.3;
            margin-bottom: 39px;
            @media #{$lg}{
            }
            @media #{$sm}{
                font-size: 29px;
                margin-bottom: 26px;
            }
            @media #{$xs}{
                font-size: 19px;
                line-height: 1.2;
                margin-bottom: 20px;
            }
        }
        span{
            color: #31ff7a;
            font-size: 60px;
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 30px;
            display: block;
            @media #{$xs}{
                margin-bottom: 30px;
                font-size: 56px;
            }
        }
    }
    // Hero From
    form.search-box{
        .input-form{
            position: relative;
            input{
                height: 65px;
                width: 100%;
                color: #777777;
                font-size: 18px;
                font-weight: 400;
                padding: 9px 33px 9px 76px;
                border-radius: 5px;
                border: none;
                @media #{$xs}{
                    margin-bottom: 20px;
                }
                @media #{$sm}{
                    padding: 9px 33px 9px 71px;
                }
                &::placeholder {
                    color: #616875;
                    @media #{$xs}{
                        font-size: 13px;
                        
                    }
                }
            }
            // Search
            .search-form{
                position: absolute;
                right: 9px;
                top: 8px;

                .fas {
                    font-size: 1.35rem;
                }
            }
            // Dropdown Menu
            .dropdown-menu{
                width: 100%;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                max-height: 200px;
                overflow:auto;

                li a{
                    padding-left: 30px;
                }

                .dropdown-item.disabled{
                    padding-left: 15px;
                }
            }
            // World
            .world-form{
                position: absolute;
                left: 21px;
                top: 8px;
                i{
                    color: #c4c4c4;
                    font-size: 32px;
                    display: block;
                    line-height: 50px;
                }
            }
        }
    }

    // Domain List 
    .single-domain{
        ul{
            text-align: center;
            li{
                display: inline-block;
                padding-right: 25px;
                position: relative;
                margin-right: 25px;
                padding-right: 10px;
                margin-right: 11px;

                @media #{$sm}{
                    padding-right: 10px;
                    margin-right: 11px
                }
                &:last-child{
                    padding-right: 0px;
                    margin-right: 0px;
                }
                // Color Child Span
                &:nth-child(1) {
                    color:#ff7474;
                }
                &:nth-child(2) {
                    color: #ffdd74;
                }
                &:nth-child(3) {
                    color: #74ff9f;
                }
                &:nth-child(4) {
                     color: #748bff;
                }
                &:nth-child(n+5) {
                    color: #f074ff;
                }
                // border left
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 25px;
                    right: 0;
                    top: 2px;
                    background: #73469F;

                }
                &:last-child{
                    &::before{
                        display: none;
                    }
                }
                span{
                    font-size: 20px;
                    font-weight: 400;
                    display: inline-block;
                    padding-right: 11px;
                }
                p{
                    margin: 0;
                    color: #fff;
                    display: inline-block;
                }
            }
        }
        
    }
    // Domain end
}


// Hero Overly
.hero-overly {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        background-color: rgba(0, 1, 2,.4);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        background-repeat: no-repeat;
    }
}


// Transparent Header
.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

// Start Other Page Hero
.hero-area2 {
        background-image: url(../img/hero/hero2.png);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 400px;
        @media #{$sm}{
            min-height: 300px;
        }
        @media #{$xs}{
            min-height: 300px;
        }
    .hero-cap{
        h2{
            color: #fff;
            font-size: 55px;
            font-weight: 600;
            text-transform: uppercase;
            padding-top: 12px;
            @media #{$sm}{
                font-size: 43px;
            }
            @media #{$xs}{
                font-size: 32px;
            }
        }
    }
}

.accordion-body {

    a {
            margin-left: 5px;
            margin-right: 5px;
            font-size: 1.1rem;
            text-transform: none;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-radius: 0;
            padding: 0 5px;
    }
}

.display-text-area{
    padding: 20px 0;

    #entity-text-area{

        font-size: 1.2rem;
        text-align: center;


    }

    .accordion-body {
        max-height: 400px;
        overflow-y: auto;
    }

    .accordion-button {
        font-weight: 600;
    }

}

.stretched-link:after {
    position: static;
}

#logic-form-area {

    overflow-x: auto;

    .tree ul {
        padding-top: 20px;
        position: relative;
        display: flex;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

    .tree li {
        float: left; text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 5px 0 5px;

        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

    /*We will use ::before and ::after to draw the connectors*/

    .tree li::before, .tree li::after{
        content: '';
        position: absolute; top: 0; right: 50%;
        border-top: 1px solid #ccc;
        width: 50%; height: 20px;
    }
    .tree li::after{
        right: auto; left: 50%;
        border-left: 1px solid #ccc;
    }

    /*We need to remove left-right connectors from elements without
    any siblings*/
    .tree li:only-child::after, .tree li:only-child::before {
        display: none;
    }

    /*Remove space from the top of single children*/
    .tree li:only-child{ padding-top: 0;}

    /*Remove left connector from first child and
    right connector from last child*/
    .tree li:first-child::before, .tree li:last-child::after{
        border: 0 none;
    }
    /*Adding back the vertical connector to the last nodes*/
    .tree li:last-child::before{
        border-right: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
    }
    .tree li:first-child::after{
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
    }

    /*Time to add downward connectors from parents*/
    .tree ul ul::before{
        content: '';
        position: absolute; top: 0; left: 50%;
        border-left: 1px solid #ccc;
        width: 0; height: 20px;
    }

    .tree li a{
        padding: 5px 10px;
        text-decoration: none;
        display: inline-block;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        font-size: 0.6rem;
    }

    /*Time for some hover effects*/
    /*We will apply the hover effect the the lineage of the element also*/
    .tree li a:hover, .tree li a:hover+ul li a {
        background: #a316fd;
        color: #fff;
    }
}
