.wantToWork-area{
    // padding-bottom: 150px;
    // @media #{$md}{
    //     padding-bottom: 100px;
    // }
    // @media #{$sm}{
    //     padding-bottom: 70px;
    // }
    // @media #{$xs}{
    //     padding-bottom: 70px;
    // }
    background: #F8FCFF;
    .wantToWork-caption{
        h2{
            font-size: 35px;
            font-weight: 700;
            line-height: 1.5;
            margin-bottom: 20px;

            @media #{$md}{
                font-size: 30px; 
            }
            @media #{$sm}{
                font-size: 35px; 
                margin-bottom: 20px;
            }
            @media #{$xs}{
                font-size: 25px; 
                margin-bottom: 20px;
            }
        } 
        p{
            font-size: 18px;
            margin-bottom: 0;
        }
    }    
    .wantToWork-btn{

        @media #{$sm}{
            float: left;
            margin-top: 30px;
        }
        @media #{$xs}{
            float: left;
            margin-top: 30px;
        }
        @media #{$md}{
            float: left;
            margin-top: 30px;
        }
    }
}
.sm-left{
    @media #{$xs}{
        float: left;
        margin-top: 30px;
    } 
    @media #{$sm}{
        float: left;
        margin-top: 30px;
    } 
}

.double-btn.f-right {
    @include flexbox();
    @include align-items(center);
    @include flex-wrap(wrap);
    @media #{$sm}{
        float: left;
    } 
    @media #{$xs}{
        float: left;
    } 
	
}